 @import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Prata&family=Sedgwick+Ave+Display&display=swap');

/* font-family: 'Amatic SC', cursive;
font-family: 'Prata', serif;
font-family: 'Sedgwick Ave Display', cursive; */
.pizza-card {
  width: 20%;
  height: max-content;
  border-radius: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.pizza-img {
  width: 200px;
  height: 200px;
  object-fit: cover;
}
.description-container {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: space-between;
}
.description-container p{
  background-color: white;;
  color: rgb(138, 10, 10);
  font-family: 'Prata', serif;
  
}
.pizza-name{
  font-size: 1.2rem;
  font-family: 'Amatic SC', cursive;
  
}
.description{
  width: 100%;;
  font-family: 'Amatic SC', cursive;
  text-align: left ;
  font-size: 1.1rem;
}
.add-to-cart{
  background:rgb(174, 14, 14) ;
  color:white;
  padding: 10px 15px;
  border: 1px solid red;
  border-radius: 30px;
  font-family: 'Prata', serif;
  font-size: 0.6rem;

}
.add-to-cart:hover{
  cursor: pointer;
  background-color: transparent;;
  color: rgb(174, 14, 14);

}
